html
{
    height:100%;
    font-family: 'Lato', sans-serif;
    margin: 1em;
}
body 
{
	margin:0;
	padding:0;
	height:100%;;
	font-family: 'Lato', sans-serif;
}
.title
{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	%width:20em;
}
.minititle
{
	%font-style: italic;
	font-weight: bold;
	font-size: 120%;
	text-decoration: underline;
}
ul.team
{
	margin: 0;
	padding: 0;
	display:inline-table;
	position:relative;
}
ul.team li
{
	%display:none;
	display:inline-block;
	margin-right: 50px;
	text-decoration: underline;
}
ul.team li ul.sub
{
	margin:0;
	padding:0;
	display:none;
	position:absolute;
	margin-top:10px;
}
ul.sub li
{
	%display:none;
	%font-size:200%;
	text-decoration: none;
	display:block;
	margin-right: 20px;
	font-style:italic;
}
ul.team li:hover ul.sub
{
	display: block;
}
.top
{
	margin-left:auto;
	margin-right:auto;
}
.right
{
	margin:auto;
	align:left;
}
.steer
{
	width:300px;
	margin-left:auto;
	margin-right:auto;
	margin-top: 50px;
}
.grupp
{
	height: 50px;
}
.top
{
	margin-left: 100px;
	margin-right 75px;
	margin-bottom: 30px;
}
.left
{
	margin-left:0;
	margin-right:0;
}
.right
{
	margin-right:0;
	margin-left: 150px;
}
.left1
{
	margin-left:0;
	margin-right:0;
}
.right1
{
	margin-right:0;
	margin-left: 150px;
}
.down
{
	margin-top: 30px;
	margin-left: 100px;
	margin-right 70px;
}
.connect
{
	font-size:125%;
	font-weight:bold;
}
.smalltitle
{
	font-size:125%;
	font-weight:bold;
	text-align:center;
	margin-bottom: 50px;
	margin-right: 75px;
}
.inputfield
{
	font-weight:bold;
}
.inputlabel
{
	text-align: center;
}
.faillabel
{
	text-align: center;
	color: red;
}
.anslut
{
	align-content: center;
	margin-top:50px;
}
.connect
{
	text-align:center;
	margin-right: 75px;
}
.button, .pil
{
	margin-left: 45px;
}
.bold
{
	font-weight:bold;
}
.t
{
	margin-left: 30px;
}

#stream
{
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	font-weight: bold;
	cursor: pointer;
}
#player
{
	display: none;
	margin-right: auto;
	margin-left: auto;
	align: middle;
	width: 500; 
	height: 500;
}
.click
{
	font-size:105%;
	font-weight:bold;
	text-align:center;
	margin-bottom: 50px;
	margin-right: 75px;
	cursor: pointer;
}

.inline
{
	display:inline;
}




